.form-box{
    width: 400px;
    background: rgb(179, 178, 178);
    text-align: center;
    padding: 40px 0px 60px 0px;
    margin: 30px;
    box-shadow: 5px 5px 5px gray;
}

.login-text{

}

.username-input{
    padding: 5px;
    border-radius: 2px;
    border: none;
}

.password-input{
    padding: 5px;
    border-radius: 2px;
    border: none;
}

button{
    padding: 5px;
    background-color: tomato;
    border: none;
    padding: 6px 10px;
    border-radius: 2px;
}

button a{
    text-decoration: none;
    color: white;
    font-variant-caps: all-petite-caps;
    font-size: 16px;
    font-weight: 500;
}
